@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.google-places-autocomplete {
    width: 520px;   
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.google-places-autocomplete__input {
    padding: 0px;
    width: 517px;
    height: 42px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 13px;
}

.google-places-autocomplete__suggestions-container {
    background: white;
    border-radius: 0 0 5px 5px;
    color: black;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
}

.google-places-autocomplete__suggestion {
    font-size: 1rem;
    text-align: left;
    padding: 10px;
}

.google-places-autocomplete__suggestion--active {
    background: #e0e3e7;
}

input[type=range] {
    -webkit-appearance: none;
    width: 289px;
    margin-left: 122px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #707070;
    border-radius: 25px;
    border: 0.8px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 1.3px solid #000000;
    height: 36px;
    width: 37px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -18.25px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #7d7d7d;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1.1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #707070;
    border-radius: 25px;
    border: 0.8px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 1.3px solid #000000;
    height: 36px;
    width: 37px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 1.1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #636363;
    border: 0.8px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: #707070;
    border: 0.8px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 1.3px solid #000000;
    height: 36px;
    width: 37px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 1.1px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #707070;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #7d7d7d;
  }
  